.content {
    padding-top: 150px;
    position: relative;
}

/* Layout Modules */
.subtitle {
    top: 160px; 
    left: 0px; 
    right: 10px; 
    text-align: center;
    margin-bottom: 50px;
}
.skinny-column {
    width: 42%; 
    margin-left: 4%; 
    margin-right: 4%; 
    float:left;
}
.med-column {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    float: left;
}
.thumbnail img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.inline-title {
    margin-bottom: 15px;
}
.project {
    overflow: auto;
    margin-bottom: 70px;
    clear: both;
}
.project-description {
    float: left;
    display: inline-block;
    width: 18%;
    margin-left: 2%;
    margin-right: 2%;
}
.project-description p {
    color: #545554;
}
.project-image {
    float: right;
    width: 71%;
    margin-left: 5%;
    margin-right: 2%;
}
.project-description a:hover, .project-link a:hover {
    background-color: #d4ff00;
}
.project-description a, .contact-item a, .code-lang a {
    padding-bottom: 1px;
    border-bottom: 1px solid #D4FF00;
}
.contact-item {
    display: block;
    letter-spacing: 1px;
    margin-top: 2px;
}
/* Layout Elements */
#header {
    z-index: 1; 
    position: absolute; 
    height: 100px;
    left: 10%; 
    right: 10%; 
    text-align: center;
}
#content {
    min-height: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}
#about {
    padding-bottom: 60px;
    float: left;
    display: inline-block;
    width: 50%;
}
#about-content {
    float: left;
    clear: both;
}
#contact-info {
    float: left;
}
#news {
    float: right;
    width: 50%;
}
#tools {
    font-family: Open Sans, sans-serif;
    color: #ff4200;
}
/* Specifics */
#header .menu-item {
    position: absolute;
    top: 50%;
}
#header .previous {
    left: 0%;
}
#header .current {
    left: 33.3%;
}
#header .next {
    left: 66.6%;
}
#header .previous h2, #header .next h2 {
    cursor: pointer;
    color: #cccccc;
}
#header .next a:hover, #header .previous a:hover {
    color: black;
}
#content .page {
    width: 78%;
    min-height: 100%;
    padding-top: 250px;
    position:absolute;
}
#content .current { 
    position:relative; 
    margin:0 6%; 
    left:5%; 
    right:5%; 
}
#content .next, #content .previous { 
    top:0; 
    background-color: #D4FF00;
    cursor:pointer;
    opacity: 0.6;
}
#content .next { 
    left:95%; 
}
#content .previous { 
    right:95%; 
}
#about h1 {
    font-size: 18px;
}
#about a:hover {
    background-color: #D4FF00;
}
#news .story {
    margin-bottom: 30px; 
    color: #9a9a9a; 
    position: relative;
}
