<div class="content">
  <h3 class="subtitle">Information & News</h3>
  <div id="about">
    <div id="facetime" class="med-column">
      <div class="thumbnail">
        <%= image_tag("portrait.jpg") %>
      </div>
    </div> <!-- facetime -->
    <div id="about-content" class="skinny-column">
      <h3>Hello</h3>
      <h1 class="inline-title">Livien Yin</h1>
      <div class="about-paragraphs">
        <p>
          I spend my time designing, coding and making art. I'm passionate about projects that engage public space and
          encourage collaboration. 
        </p>
        <p>
          Currently a 2014 <span class="code-lang"><a href="http://codeforamerica.org/" target="_blank">Code for America</a></span> fellow working with the great city of Lexington, KY.
        </p>
      </div> 
    </div> <!-- about-content -->
    <div id="contact-info" class="skinny-column">
      <em>Please feel free to</em>
      <h1 class="inline-title">Contact</h1>
      <p>
        <span class="contact-item"> San Francisco, CA</span>
        <span class="contact-item"> livienyin@gmail.com</span>
      </p>
      <p>
        <span class="contact-item">
          <a href="http://www.twitter.com/livienyin" target="_blank">
            + Twitter
          </a>
        </span>
        <span class="contact-item">
          <a href="http://livienyin.tumblr.com/" target="_blank">
            + Tumblr
          </a>
        </span>
        <span class="contact-item">
          <a href="http://www.github.com/livienyin" target="_blank">
            + GitHub
          </a>
        </span>
    </div> <!-- contact-info -->
  </div> <!-- about -->
  <div id="news">
    <div class="med-column">
      <div class="story">
        <h3>Reading: <a href="http://www.knightfoundation.org/blogs/knightblog/2014/1/21/commitment-building-successful-cities/"
        target="_blank">A commitment to building successful cities</a></h3> 
        <h1 class="inline-title">1.25.14</h1>
        <p>
          "In fact, 85 percent of millennials say they prefer urban-style living, and 68 percent of college-educated 25- to 34-year-olds say, first, they look for the place they want to live, then they look for a job. So, for our communities to compete, they have to offer the kind of lifestyle choices today’s young adults prefer: lively places with mixed uses, mixed incomes and streets that support walking, biking and the use of public transit."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="http://seriouspony.com/blog/2013/7/24/your-app-makes-me-fat"
        target="_blank">Your App Makes Me Fat</a></h3> 
        <h1 class="inline-title">1.14.14</h1>
        <p>
          "Willpower and cognitive processing draw from the same pool of resources... If the result of your work consumes someone’s cognitive resources, they can’t use those resources for other things that truly, deeply matter. This is NOT about consuming their time and attention while they're using your app. This is about draining their ability for logical thinking, problem-solving, and willpower after the clicking/swiping/gesturing is done. 
        </p>
        <p>
          What you consume here, you take from there. Not just their attention, not just their time, but their ability to be the person they are when they are at their best. When they have ample cognitive resources. When they can think, solve-problems, and exercise self-control. When they can create, make connections, and stay focused." 
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="http://www.govtech.com/data/7-Tactics-for-21st-Century-Cities.html"
        target="_blank">7 Tactics for 21st Century Cities</a></h3> 
        <h1 class="inline-title">1.14.14</h1>
        <p>
          "6. Bias toward open.
          Closed systems tend toward control, while open ones tend toward innovation. Open systems begin with the belief that the best idea won’t always come from the people in the room, or in this case, city hall. Instead, as the Internet has evidenced time and time again, opening up access to data and opportunities leads to wildly emergent, amazing and valuable outcomes.
        </p>
        <p>
          Action item: Create an open data policy and adopt open data specifications."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://www.theatlantic.com/magazine/archive/2013/09/out-is-the-new-in/309428/"
        target="_blank">The Rise of Self-Taught Artists</a></h3> 
        <h1 class="inline-title">9.20.13</h1>
        <p>
          "Outsider does have a nice little paradox embedded in it:
          for an artist to be considered an outsider, he or she must
          first be brought inside the professional art world by an
          insider. In other words, everyone the art world considers an
          outsider is de facto an insider. The standard outsider
          biography thus includes not only a traumatic (typically
          motherless) childhood, a history of institutionalization
          (orphanage, asylum, prison), a stunted education, a
          subsistence job, and an intense drive to make art, but also
          a discovery story, a tale of someone with cultural
          connections who brings the outsider in."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="http://www.nytimes.com/roomfordebate/2013/09/08/privacy-and-the-internet-of-things/when-government-joins-the-internet-of-things"
        target="_blank">When Government Joins the Internet of Things</a></h3> 
        <h1 class="inline-title">9.10.13</h1>
        <p>
          "As governments release more open data and contribute to
          is sensor network, imagine how far we can go. With better
          data, decisions can be based on what we know, instead of what
          we think. This can only lead to better policy and
          governance.
        </p>
        <p>
          As we use technology and data to develop these systems and models of
          the future, we must be cautious to avoid the "creepy
          factor." A clear and proven way to do this is through open
          and standards-based releases of data. We are seeing more
          and more administrations passing laws or orders to mandate
          the publishing of certain data—from Philadelphia to
          Chicago. A path in which the expansion of these networks
          walks hand in hand with transparency is one on which we can
          advance, with accountability."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Seeing: <a href="http://www.wired.com/design/2013/08/how-segregated-is-your-city-this-eye-opening-map-shows-you/"
        target="_blank">The Best Map Ever Made of America’s Racial Segregation</a></h3> 
        <h1 class="inline-title">8.30.13</h1>
        <div class="thumbnail">
          <%= image_tag("sanfrancisco.jpg") %>
        </div>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://www.latimes.com/local/columnone/la-me-c1-code-for-america-20130826-dto,0,400145.htmlstory"
        target="_blank">Civic-minded hackers code well for the future</a></h3> 
        <h1 class="inline-title">8.26.13</h1>
        <p>
          "There is something about this generation that assumes all problems
          are, if not solvable, at least hackable," Pahlka said. "They
          have decided that complaining is less useful than just
          getting in there and fixing the system."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://coding.smashingmagazine.com/2013/08/09/backbone-js-tips-patterns/"
        target="_blank">Backbone.js Tips and Patterns</a></h3> 
        <h1 class="inline-title">8.18.13</h1>
        <p>
          "Backbone.js does not copy model attributes; it simply
          returns whatever you’re asking for. So, as you might guess,
          if you ask for an object, you will get a reference to that
          object, and any manipulation to the object will directly
          manipulate the actual object in the model."
        </p>
        <p>
          "..if you’re writing in Backbone.js, you should be following test-driven
          development (TDD) for your models and collections. I follow TDD by
          first writing failing Jasmine.js unit tests against my models or
          collections. Once the unit tests are written and failing, I flush out
          the model or collection."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="https://medium.com/i-m-h-o/1a82337f14a7"
        target="_blank">Literally Indefensible</a></h3> 
        <h1 class="inline-title">8.14.13</h1>
        <p>
          "You literally cannot hold yourself to this standard"
        </p>
      </div> <!-- story -->

      <div class="story">
      	<h3>Reading: <a href="http://www.smashingmagazine.com/2013/08/06/beautiful-typography-web-design/" target="_blank">A Journey Through Beautiful Typography In Web Design</a></h3>
      	<h1 class="inline-title">8.13.13</h1>
      	<p>
      	  "Typography has the potential to go beyond merely telling a story — it shows the user who is behind the website and what you’re about. The treatment of type creates an atmosphere and elicits a response much the same way as tone of voice does."
      	</p>
      </div>
      
      <div class="story">
        <h3>Reading: <a href="https://medium.com/boinkology-101/83900d249c5f"
        target="_blank">Risky (and Sexy) Business</a></h3> 
        <h1 class="inline-title">8.9.13</h1>
        <p>
          "Even the slightest mention of starting a company that seeks to
          champion sexual product discovery gets eyes lighting up, admissions
          unfolding, and barriers lifted. I’ve learned that people are willing
          to talk about sex very openly if given social permission to do
          so — even the eighty-eight-year-old woman sitting next to you on the
          Amtrak reminiscing about the eight men and three women she bedded
          prior to her husband of fifty years, and maybe especially her. When we
          feel safe and included, we share, we learn, and we expand our depth."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="https://medium.com/tech-talk/bdae04e46ec5"
        target="_blank">Overcoming Impostor Syndrome</a></h3> 
        <h1 class="inline-title">8.1.13</h1>
        <p>
          "I had put things I could do and things I wasn’t good at into separate
          mental buckets, and saw these artificial groupings as static
          and impermeable. That was the biggest loss for me, not
          learning and doing more things because I was afraid I couldn’t."
        </p>
        <div class="thumbnail">
          <%= image_tag("venndiagram.png") %>
        </div>

      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://www.ibm.com/developerworks/java/library/j-grails01158/"
        target="_blank">Mastering Grails: Build your first Grails application</a></h3> 
        <h1 class="inline-title">7.30.13</h1>
        <p>
          Onto the Groovilicious world of Grails!
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://bzg.fr/learn-emacs-lisp-in-15-minutes.html"
        target="_blank">Learn #Emacs Lisp in 15 minutes</a></h3> 
        <h1 class="inline-title">7.28.13</h1>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="https://medium.com/this-happened-to-me/37a78dd334b7"
        target="_blank">Take 30 seconds to text your friend</a></h3> 
        <h1 class="inline-title">7.21.13</h1>
        <p>
          "In a day and age where we are fighting insecurities,
          uncertainties and assumptions, how important do you think it
          would be to your relationships for you to take just 30
          seconds to impact someone’s life?"
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://www.smashingmagazine.com/2013/07/16/authentic-design/"
        target="_blank">Authentic Design</a></h3> 
        <h1 class="inline-title">7.16.13</h1>
        <p>
          "Styles that imitate real-life objects and textures are said to be
          “skeuomorphs” — that is, design elements based on symbols borrowed
          from the real world, for the sole purpose of making an interface look
          familiar to the user. Recently, designers have started questioning the
          logic of styling a notes app as a paper pad, or of adding leather and
          page-turning effects to a calendar app."
        </p>
      </div> <!-- story -->
    </div> <!-- med-column -->
  </div> <!-- news -->
</div> <!-- about-news -->
