<div class="content">
  <h3 class="subtitle">Information & News</h3>
  <div id="about">
    <div id="facetime" class="med-column">
      <div class="thumbnail">
        <%= image_tag("portrait.JPG") %>
      </div>
    </div> <!-- facetime -->
    <div id="about-content" class="skinny-column">
      <h3>Hello</h3>
      <h1 class="inline-title">Livien Yin</h1>
      <div class="about-paragraphs">
        <p>
          I spend my time writing code and making art. I'm passionate about projects that engage public space and
          encourage introspection.
        </p>
        <p>
          I am currently apprenticing as a front-end engineer at Taulia, in San Francisco. In 2012, I received a Bachelor of Arts in Art from Reed
          College, Portland, OR.
        </p>
        <p>
 This site is built from scratch
          using <span class="code-lang"><a href="http://backbonejs.org/"
          target="_blank">backbone.js</a></span>. Portfolio
          images are displayed with <span class="code-lang"><a href="http://twitter.github.io/bootstrap/javascript.html#carousel"
          target="_blank">Bootstrap's carousel</a></span>.
        </p>
      </div> 
    </div> <!-- about-content -->
    <div id="contact-info" class="skinny-column">
      <em>Please feel free to</em>
      <h1 class="inline-title">Contact</h1>
      <p>
        <span class="contact-item"> San Francisco, CA</span>
        <span class="contact-item"> livienyin@gmail.com</span>
      </p>
      <p>
        <span class="contact-item">
          <a href="http://www.linkedin.com/profile/view?id=205784266&trk=tab_pro"
             target="_blank">
            + LinkedIn
          </a>
        </span>
        <span class="contact-item">
          <a href="http://www.github.com/livienyin" target="_blank">
            + GitHub
          </a>
        </span>
        <span class="contact-item">
          <a href="http://www.twitter.com/livienyin" target="_blank">
            + Twitter
          </a>
        </span>
    </div> <!-- contact-info -->
  </div> <!-- about -->
  <div id="news">
    <div class="med-column">
      <div class="story">
        <h3>Reading: <a href="https://medium.com/tech-talk/bdae04e46ec5"
        target="_blank">Overcoming Impostor Syndrome</a></h3> 
        <h1 class="inline-title">8.1.13</h1>
        <p>
          "I had put things I could do and things I wasn’t good at into separate
          mental buckets, and saw these artificial groupings as static
          and impermeable. That was the biggest loss for me, not
          learning and doing more things because I was afraid I couldn’t."
        </p>
        <div class="thumbnail">
          <%= image_tag("venndiagram.png") %>
        </div>

      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://www.ibm.com/developerworks/java/library/j-grails01158/"
        target="_blank">Mastering Grails: Build your first Grails application</a></h3> 
        <h1 class="inline-title">7.30.13</h1>
        <p>
          Onto the Groovilicious world of Grails!
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://bzg.fr/learn-emacs-lisp-in-15-minutes.html"
        target="_blank">Learn #Emacs Lisp in 15 minutes</a></h3> 
        <h1 class="inline-title">7.28.13</h1>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="https://medium.com/this-happened-to-me/37a78dd334b7"
        target="_blank">Take 30 seconds to text your friend</a></h3> 
        <h1 class="inline-title">7.21.13</h1>
        <p>
          "In a day and age where we are fighting insecurities,
          uncertainties and assumptions, how important do you think it
          would be to your relationships for you to take just 30
          seconds to impact someone’s life?"
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://www.smashingmagazine.com/2013/07/16/authentic-design/"
        target="_blank">Authentic Design</a></h3> 
        <h1 class="inline-title">7.16.13</h1>
        <p>
          "Styles that imitate real-life objects and textures are said to be
          “skeuomorphs” — that is, design elements based on symbols borrowed
          from the real world, for the sole purpose of making an interface look
          familiar to the user. Recently, designers have started questioning the
          logic of styling a notes app as a paper pad, or of adding leather and
          page-turning effects to a calendar app."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="https://medium.com/i-m-h-o/d78abe86845b"
        target="_blank">The data visualization community needs it’s
        own Hacker News</a></h3> 
        <h1 class="inline-title">7.13.13</h1>
        <p>
          "It seems like the best candidate to solve this is the new
          Data Driven News which was released by Bryan Connor of the
          excellent dataviz criticism blog The Why Axis. It’s still a
          work-in-progress, but a project like this can only be
          successful if it’s embraced by the community."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://kivo.com/blog/git-for-the-masses/"
        target="_blank">Git for the masses</a></h3> 
        <h1 class="inline-title">7.10.13</h1>
        <p>
          "If you’re working with someone else, it shouldn’t matter where either
          of you store your files. You should be able to sync changes without
          worrying about permissions or storage locations. If we both have the
          file, regardless of where each of us stores it, it should be trivial
          for us to work together."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://mashable.com/2013/07/08/mit-gmail-immersion-breakdown/"
        target="_blank">MIT's Gmail Visualization Tool: How It Works</a></h3> 
        <h1 class="inline-title">7.8.13</h1>
        <p>
          "This allows us to differentiate between real people and
          other sources of email such as mailing lists, machine-sent
          emails such as social network notifications," Jagdish wrote
          in the email. "If you have received 50 emails from an
          address, but you haven't sent a single email to that
          address, then that person will not show up as a node in the network."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://www.jamesyu.org/2011/03/10/on-being-an-early-employee-at-a-startup-and-a-farewell/"
        target="_blank">On Being an Early Startup Employee</a></h3> 
        <h1 class="inline-title">7.5.13</h1>
        <p>
          "This brings us to the most important quality that enables
          impact: trust. Without trust, employees aren't empowered.
          And without empowerment, there can be no impact. Needless to
          say, Scribd puts a lot of trust on its employees."
        </p>
      </div> <!-- story -->

      <div class="story">
        <h3>Reading: <a href="http://nickdesaulniers.github.io/blog/2013/06/13/8-months-in-mozilla/"
        target="_blank">Eight months in Mozilla</a></h3> 
        <h1 class="inline-title">7.1.13</h1>
        <p>
          <em>Giving back to the public domain is the norm: </em><br />
          "Literally everything I’ve ever worked on here has been published as
          open source. Writing software is about expression. To be
          able to publish my code freely, literally the reason the
          World Wide Web was created, allows me to be a part of
          someone else’s professional development; my expressions and
          code mannerisms living on in theirs."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="http://ahmetalpbalkan.com/blog/8-months-microsoft/"
        target="_blank">8 months in Microsoft, I learned these</a></h3> 
        <h1 class="inline-title">7.1.13</h1>
        <p>
          <em><span style="text-decoration: line-through;">Not giving back to the public domain is a norm:</span></em><br /> 
          "I haven’t met almost any bloggers or open source developers in my organization
          dedicating some of their time to give back to the community.
          Everybody loves finding Stack Overflow answers on search
          results, but nobody contributes those answers. I can
          understand that."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="https://medium.com/think-big-work-smart/afb0ed7cab4a"
        target="_blank">Design-in-browser, are you ready?</a></h3> 
        <h1 class="inline-title">6.27.13</h1>
        <p>
          Compelling argument for why designers should get their
          hands dirty in the code: faster, less wasteful prototyping.
        </p>
        <p>
          "It’s very clear that design-in-browser can dramatically
          reduce the waste, and improve workflow, but more importantly
          it gets the whole team (clients, designers, developers)
          focused on the product rather than the deliverables."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="https://medium.com/this-happened-to-me/a1ba4aec950"
        target="_blank">On the Tenth Anniversary of Quitting
            or, the never-ending thirst to explore</a></h3> 
        <h1 class="inline-title">6.25.13</h1>
        <p>
          "I realised through the last decade that exploration doesn’t
          necessarily imply travel. It simply means traversing new
          territories, and it can even be a journey within oneself. It
          can be through startups, or through projects. Through
          people, and through ideas. Through cultures and through
          cuisines.

          The only constancy is a choice to never repeat, to attempt newness at
          every chance one gets."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="http://www.adobe.com/devnet/html5/articles/angularjs-directives-and-the-computer-science-of-javascript.html"
        target="_blank">AngularJS directives and the computer science
        of JavaScript</a></h3> 
        <h1 class="inline-title">6.24.13</h1>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="http://www.artnews.com/2013/06/12/the-new-world-of-net-art/"
        target="_blank">The New World of Net Art</a></h3> 
        <h1 class="inline-title">6.21.13</h1>
        <p>"Every time a new medium is born we tend to perceive it as
        being more real than its predecessor..."</p>
        <p><a href="http://www.fallingfalling.com/"
        target="_blank">Falling Falling</a> and <a href="http://www.papertoilet.com/"
        target="_blank">Paper Toilet</a> by Rafael Rozendaal</p>
        <div class="thumbnail">
          <%= image_tag("blog_rafael2.png") %>
          <%= image_tag("blog_rafael1.png") %>
        </div>
      </div> <!-- story -->

      <div class="story">
        <h3>Playing: <a href="http://www.nytimes.com/interactive/magazine/you-made-it.html"
        target="_blank">You Made That: an abstract-expressionist tool
        to create and share your own artwork</a></h3> 
        <h1 class="inline-title">6.19.13</h1>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="https://medium.com/i-m-h-o/1dbe15dc1490"
        target="_blank">Nine User-Experience Tips to Rule Them All
Or something like that</a></h3> 
        <h1 class="inline-title">6.19.13</h1>
        <p>
          "Forget minimalist, simple design. For some products it works, for most
          it doesn’t. The most important thing in a product is accessibility - I
          should be able to quickly do what I want to do, and there should be a
          clear call to action for each main user desire."
        </p>
      </div> <!-- story -->
    </div> <!-- med-column -->
  </div> <!-- news -->
</div> <!-- about-news -->
