<div class="content">
  <h3 class="subtitle">Information & News</h3>
  <div id="about">
    <div id="facetime" class="med-column">
      <div class="thumbnail">
        <%= image_tag("mugshot.jpg") %>
      </div>
    </div> <!-- facetime -->
    <div id="about-content" class="skinny-column">
      <h3>Hello</h3>
      <h1 class="inline-title">Livien Yin</h1>
      <div class="about-paragraphs">
        <p>
          I spend my time writing code and making art. I'm passionate about projects that engage public space and
          encourage introspection.
        </p>
        <p>
          In 2012, I received a Bachelor of Arts in Art from Reed
          College, Portland, OR. 
        </p>
        <p>
          I am currently
          learning <span class="code-lang"><a href="http://guides.rubyonrails.org/"> ruby 
              on rails </a></span>  and <span class="code-lang"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"> javascript </a></span> in San Francisco, CA.
        </p>
      </div> 
    </div> <!-- about-content -->
    <div id="contact-info" class="skinny-column">
      <em>Please feel free to</em>
      <h1 class="inline-title">Contact</h1>
      <p>
        <span class="contact-item"> San Francisco, CA</span>
        <span class="contact-item"> livienyin@gmail.com</span>
      </p>
      <p>
        <span class="contact-item">
          <a href="http://www.linkedin.com/profile/view?id=205784266&trk=tab_pro">
            + LinkedIn
          </a>
        </span>
        <span class="contact-item">
          <a href="http://www.github.com/livienyin">
            + GitHub
          </a>
        </span>
        <span class="contact-item">
          <a href="http://www.twitter.com/livienyin">
            + Twitter
          </a>
        </span>
    </div> <!-- contact-info -->
  </div> <!-- about -->
  <div id="news">
    <div class="med-column">
      <div class="story">
        <div class="thumbnail">
          <%= image_tag("tang_blossoms.jpg") %>
        </div>
        <h3>Class: 3 weeks left</h3> 
        <h1 class="inline-title">5.25.13</h1>
        <p>
          Donec id elit non mi porta gravida at eget metus. Nulla
          vitae elit libero, a pharetra augue. Duis mollis, est non
          commodo luctus, nisi erat porttitor ligula, eget lacinia
          odio sem nec elit.
        </p>
      </div> <!-- story -->
      <div class="story">
        <div class="thumbnail">
          <%= image_tag("lemons_story.jpeg") %>
        </div>
        <h3>Fun: Fresh Lemons at Jessie's</h3> 
        <h1 class="inline-title">5.25.13</h1>
        <p>
          Donec id elit non mi porta gravida at eget metus. Nulla
          vitae elit libero, a pharetra augue. Duis mollis, est non
          commodo luctus, nisi erat porttitor ligula, eget lacinia
          odio sem nec elit.
        </p>
      </div> <!-- story -->
      <div class="story">
        <div class="thumbnail">
          <%= image_tag("canterbury_story.jpeg") %>
        </div>
        <h3>Visits: Canterbury</h3> 
        <h1 class="inline-title">5.25.13</h1>
        <p>
          Donec id elit non mi porta gravida at eget metus. Nulla
          vitae elit libero, a pharetra augue. Duis mollis, est non
          commodo luctus, nisi erat porttitor ligula, eget lacinia
          odio sem nec elit.
        </p>
      </div> <!-- story -->
    </div> <!-- med-column -->
  </div> <!-- news -->
</div> <!-- about-news -->
