<div class="content">
  <h3 class="subtitle">Information & News</h3>
  <div id="about">
    <div id="facetime" class="med-column">
      <div class="thumbnail">
        <%= image_tag("portrait.JPG") %>
      </div>
    </div> <!-- facetime -->
    <div id="about-content" class="skinny-column">
      <h3>Hello</h3>
      <h1 class="inline-title">Livien Yin</h1>
      <div class="about-paragraphs">
        <p>
          I spend my time writing code and making art. I'm passionate about projects that engage public space and
          encourage introspection.
        </p>
        <p>
          In 2012, I received a Bachelor of Arts in Art from Reed
          College, Portland, OR. 
        </p>
        <p>
          I am currently
          learning <span class="code-lang"><a href="http://guides.rubyonrails.org/"
          target="_blank"> ruby 
              on rails </a></span>
          and <span class="code-lang"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
          target="_blank"> javascript </a></span> in San Francisco, CA.
        </p>
      </div> 
    </div> <!-- about-content -->
    <div id="contact-info" class="skinny-column">
      <em>Please feel free to</em>
      <h1 class="inline-title">Contact</h1>
      <p>
        <span class="contact-item"> San Francisco, CA</span>
        <span class="contact-item"> livienyin@gmail.com</span>
      </p>
      <p>
        <span class="contact-item">
          <a href="http://www.linkedin.com/profile/view?id=205784266&trk=tab_pro"
             target="_blank">
            + LinkedIn
          </a>
        </span>
        <span class="contact-item">
          <a href="http://www.github.com/livienyin" target="_blank">
            + GitHub
          </a>
        </span>
        <span class="contact-item">
          <a href="http://www.twitter.com/livienyin" target="_blank">
            + Twitter
          </a>
        </span>
    </div> <!-- contact-info -->
  </div> <!-- about -->
  <div id="news">
    <div class="med-column">
      <div class="story">
        <h3>Reading: <a href="https://medium.com/new-media/a174d76e282f"
        target="_blank">Is design a part of mainstream startup
        culture now? Absolutely.</a></h3> 
        <h1 class="inline-title">6.17.13</h1>
        <p>
          "...over the last few years, the shift has been towards the creator. For Kickstarter, their bets are on creators. Chen said that 2%
          of the population is creators. 60K people have created projects on
          Kickstarter. And 3,000,000 people have backed a project." -Elle Luna
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="https://medium.com/design-startups/6c423fc5ccef" target="_blank">Designers will
          code</a></h3> 
        <h1 class="inline-title">6.17.13</h1>
        <p>
          "Working faster might sound like an incremental improvement,
          but taking an idea through the design process is like
          completing a sentence. Slowing down and switching contexts
          means losing your train of thought. If you're forced to take
          off your designer hat and dig through some documentation,
          you've lost that creative momentum." -David Cole
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="http://www.teehanlax.com/blog/designing-with-code/"
          target="_blank">Designing with code</a></h3> 
        <h1 class="inline-title">6.17.13</h1>
        <p>
          "We spend hours designing for a medium that’s interactive and
          responsive, but we start by producing mockups that are
          static and inflexible. If great design is not only
          aesthetics but also how it works, then it’s time to make
          development part of the creative process."<br /> -Jeremy Bell
        </p>
      </div> <!-- story -->
      <div class="story">
        <div class="thumbnail">
          <%= image_tag("blog_wdi.JPG") %>
        </div>
        <h3>WDI Parting Haiku: "They're *in* the computer?"</h3> 
        <h1 class="inline-title">6.14.13</h1>
        <p>
          Enter noobs, eager. <br /> Learn ruby, rails, javascript. <br />
          Graduate builders.
        </p>
      </div> <!-- story -->
    </div> <!-- med-column -->
  </div> <!-- news -->
</div> <!-- about-news -->
