<div class="content">
  <h3 class="subtitle">Information & News</h3>
  <div id="about">
    <div id="facetime" class="med-column">
      <div class="thumbnail">
        <%= image_tag("portrait.JPG") %>
      </div>
    </div> <!-- facetime -->
    <div id="about-content" class="skinny-column">
      <h3>Hello</h3>
      <h1 class="inline-title">Livien Yin</h1>
      <div class="about-paragraphs">
        <p>
          I spend my time writing code and making art. I'm passionate about projects that engage public space and
          encourage introspection.
        </p>
        <p>
          I am currently
          learning <span class="code-lang"><a href="http://guides.rubyonrails.org/"
          target="_blank"> ruby 
              on rails </a></span>
          and <span class="code-lang"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
          target="_blank"> javascript </a></span> in San Francisco. In 2012, I received a Bachelor of Arts in Art from Reed
          College, Portland, OR.
        </p>
        <p>
 This site is built from scratch
          using <span class="code-lang"><a href="http://backbonejs.org/"
          target="_blank">backbone.js</a></span>. Portfolio
          images are displayed with <span class="code-lang"><a href="http://twitter.github.io/bootstrap/javascript.html#carousel"
          target="_blank">Bootstrap's carousel</a></span>.
        </p>
      </div> 
    </div> <!-- about-content -->
    <div id="contact-info" class="skinny-column">
      <em>Please feel free to</em>
      <h1 class="inline-title">Contact</h1>
      <p>
        <span class="contact-item"> San Francisco, CA</span>
        <span class="contact-item"> livienyin@gmail.com</span>
      </p>
      <p>
        <span class="contact-item">
          <a href="http://www.linkedin.com/profile/view?id=205784266&trk=tab_pro"
             target="_blank">
            + LinkedIn
          </a>
        </span>
        <span class="contact-item">
          <a href="http://www.github.com/livienyin" target="_blank">
            + GitHub
          </a>
        </span>
        <span class="contact-item">
          <a href="http://www.twitter.com/livienyin" target="_blank">
            + Twitter
          </a>
        </span>
    </div> <!-- contact-info -->
  </div> <!-- about -->
  <div id="news">
    <div class="med-column">
      <div class="story">
        <h3>Reading: <a href="https://medium.com/think-big-work-smart/afb0ed7cab4a"
        target="_blank">Design-in-browser, are you ready?</a></h3> 
        <h1 class="inline-title">6.27.13</h1>
        <p>
          Compelling argument for why designers should get their
          hands dirty in the code: faster, less wasteful prototyping.
        </p>
        <p>
          "It’s very clear that design-in-browser can dramatically
          reduce the waste, and improve workflow, but more importantly
          it gets the whole team (clients, designers, developers)
          focused on the product rather than the deliverables."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="https://medium.com/this-happened-to-me/a1ba4aec950"
        target="_blank">On the Tenth Anniversary of Quitting
            or, the never-ending thirst to explore</a></h3> 
        <h1 class="inline-title">6.25.13</h1>
        <p>
          "I realised through the last decade that exploration doesn’t
          necessarily imply travel. It simply means traversing new
          territories, and it can even be a journey within oneself. It
          can be through startups, or through projects. Through
          people, and through ideas. Through cultures and through
          cuisines.

          The only constancy is a choice to never repeat, to attempt newness at
          every chance one gets."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="http://www.adobe.com/devnet/html5/articles/angularjs-directives-and-the-computer-science-of-javascript.html"
        target="_blank">AngularJS directives and the computer science
        of JavaScript</a></h3> 
        <h1 class="inline-title">6.24.13</h1>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="http://www.artnews.com/2013/06/12/the-new-world-of-net-art/"
        target="_blank">The New World of Net Art</a></h3> 
        <h1 class="inline-title">6.21.13</h1>
        <p>"Every time a new medium is born we tend to perceive it as
        being more real than its predecessor..."</p>
        <p><a href="http://www.fallingfalling.com/"
        target="_blank">Falling Falling</a> and <a href="http://www.papertoilet.com/"
        target="_blank">Paper Toilet</a> by Rafael Rozendaal</p>
        <div class="thumbnail">
          <%= image_tag("blog_rafael2.png") %>
          <%= image_tag("blog_rafael1.png") %>
        </div>
      </div> <!-- story -->

      <div class="story">
        <h3>Playing: <a href="http://www.nytimes.com/interactive/magazine/you-made-it.html"
        target="_blank">You Made That: an abstract-expressionist tool
        to create and share your own artwork</a></h3> 
        <h1 class="inline-title">6.19.13</h1>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="https://medium.com/i-m-h-o/1dbe15dc1490"
        target="_blank">Nine User-Experience Tips to Rule Them All
Or something like that</a></h3> 
        <h1 class="inline-title">6.19.13</h1>
        <p>
          "Forget minimalist, simple design. For some products it works, for most
          it doesn’t. The most important thing in a product is accessibility - I
          should be able to quickly do what I want to do, and there should be a
          clear call to action for each main user desire."
        </p>
      </div> <!-- story -->

      <div class="story">
        <div class="thumbnail">
          <%= image_tag("blog_coffee.jpg") %>
        </div>
        <h3>Reading: <a href="http://www.newyorker.com/online/blogs/elements/2013/06/how-caffeine-short-circuits-creativity.html"
        target="_blank">How caffeine can cramp creativity</a></h3> 
        <h1 class="inline-title">6.18.13</h1>
        <p>
          "Still, we do know that much of what we associate with
          creativity—whether writing a sonnet or a mathematical proof—has to do
          with the ability to link ideas, entities, and concepts in novel ways.
          This ability depends in part on the very thing that caffeine seeks to
          prevent: a wandering, unfocussed mind."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="https://medium.com/design-startups/583e03e580e8"
        target="_blank">Tips for young designers / developers</a></h3> 
        <h1 class="inline-title">6.18.13</h1>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="https://medium.com/new-media/a174d76e282f"
        target="_blank">Is design a part of mainstream startup
        culture now? Absolutely.</a></h3> 
        <h1 class="inline-title">6.17.13</h1>
        <p>
          "...over the last few years, the shift has been towards the creator. For Kickstarter, their bets are on creators. Chen said that 2%
          of the population is creators. 60K people have created projects on
          Kickstarter. And 3,000,000 people have backed a project."
        </p>
      </div> <!-- story -->
      <div class="story">
        <h3>Reading: <a href="https://medium.com/design-startups/6c423fc5ccef" target="_blank">Designers will
          code</a></h3> 
        <h1 class="inline-title">6.17.13</h1>
        <p>
          "Working faster might sound like an incremental improvement,
          but taking an idea through the design process is like
          completing a sentence. Slowing down and switching contexts
          means losing your train of thought. If you're forced to take
          off your designer hat and dig through some documentation,
          you've lost that creative momentum."
        </p>
      </div> <!-- story -->
    </div> <!-- med-column -->
  </div> <!-- news -->
</div> <!-- about-news -->
