<!DOCTYPE html>
<html>
<head>
  <title>Livien Yin</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/carousel.min.css">
  <link rel="stylesheet" type="text/css" href="css/index_style.css">
  <link rel="stylesheet" type="text/css" href="css/page_style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Old+Standard+TT:400,400italic''
      rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="http://underscorejs.org/underscore.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="js/bootstrap-carousel.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body id="home">
</body>
</html>
